<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Taxistas</a>
</nav>
<div class="row pad-10">
    <div class="col-8">
        <h3>Mapa <small *ngIf="siguiendoNombre">Siguiendo a: {{siguiendoNombre}}</small></h3>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
            <agm-marker *ngFor="let item of taxistas " [latitude]="item.lat" [longitude]="item.lng"></agm-marker>
        </agm-map>
    </div>
    <div class="col-4">
        <h3>Taxistas</h3>
        <div class="list-group">
            <!--Async porque se van a ir cargando a medida que aparezcan elementos en la base de datos-->
            <a href="#" (click)="seguir(item)" *ngFor="let item of taxistas; " class="list-group-item list-group-item-action ">
            {{ item.nombre }}
          </a>
            <br>
            <button *ngIf="siguiendoNombre" class="btn btn-primary" (click)="dejarDeSeguir()">Dejar de seguir</button>

        </div>
    </div>
</div>